@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  color: white;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
